{% extends 'base.html.twig' %}

{% block body %}

<script type="text/javascript">
    function youtube_parser(url){
        var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]*).*/;
        var match = url.match(regExp);
        return (match&&match[7].length==11)? match[7] : false;
    }
</script>
<div class="subscription_videos">
    {% for video in videos %}
            <div class="video_profile video_subscription" style="cursor: pointer;" onclick="window.location.href = '{{ path('watch_video',{param:video.uuid}) }}'">
                <iframe class="video_thumb{{video.id}}"  width="340" height="180" src="{{ video.link }}?showinfo=0&controls=0&autohide=1"></iframe>
                <div>
                    <p>{{ video.name }}</p>   
                    <p>{{ views[video.id] }} views - {{ date_interval[video.id] }}</p> 
                    <p class="description">{{video.description}}</p>
                </div>
                <a href="{{path('delete_video', {param:video.id,location:"admin_user_video"})}}">Delete</a>
            </div>
            <script>
                document.querySelector('.video_thumb{{video.id}}').src =`https://img.youtube.com/vi/${youtube_parser('{{video.link}}')}/mqdefault.jpg` 
            </script>
    {% endfor %}

</div>

{% endblock %}
