{% extends 'base.html.twig' %}

{% block body %}
<script type="text/javascript">
    function youtube_parser(url){
        var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#&?]*).*/;
        var match = url.match(regExp);
        return (match&&match[7].length==11)? match[7] : false;
    }
</script>
<div class="subscription_videos">
    {% for video in videos %}
            <div class="video_profile video_subscription" style="cursor: pointer;" onclick="window.location.href = '{{ path('watch_video',{param:video[0].uuid}) }}'">
                <iframe class="video_thumb{{video[0].id}}"  width="340" height="180" src="{{ video[0].link }}?showinfo=0&controls=0&autohide=1"></iframe>
                <div>
                    <p>{{ video[0].name }}</p>   
                    <p>{{ video["views"] }} views - {{ date_interval[video[0].id] }}</p> 
                    <p class="description">{{video[0].description}}</p>
                    <div style="cursor: pointer; display:flex; align-items:center;" onclick="window.location.href = '{{ path('user',{param:video[0].iduser.pseudo}) }}'">
                        <div class="thumbnail thumbnail2">
                            <img src="{{ asset('images/profile_pictures/'~video[0].iduser.profilepicture)}}">
                        </div>
                        <p style="opacity: 0.9; margin-left:10px">{{video[0].iduser.pseudo}}</p>
                    </div>
                </div>
            </div>
            <script>
                document.querySelector('.video_thumb{{video[0].id}}').src =`https://img.youtube.com/vi/${youtube_parser('{{video[0].link}}')}/mqdefault.jpg` 
            </script>
    {% endfor %}

</div>

{% endblock %}
