{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>
        <div>
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.link) }}
        </div>
        <button type="submit">Add this video</button>

{{ form_end(form) }}

{% endblock %}