<div class="nav_profile">
    <div class="logo_tutube" style="cursor: pointer;" onclick="window.location.href = '{{ path('home') }}'">
        <img src="{{ asset('images/logo/logo.png')}}">
    </div>
</div>
<div class="nav_link">
    <a href="{{path('trend')}}" >Trend</a>
    <a href="{{path('discover')}}" >Discover</a>   
    {% if user != null %}
        <a href="{{path('subscription')}}">Subscription</a>
        {% if is_admin %}
            <a href="{{path('admin_user')}}">Admin User</a>
            <a href="{{path('admin_video')}}"> Admin Video</a>
        {% endif %}
    {% endif %}
</div>
<div class="nav_subscribe">
    <p>Subscriptions</p>
    {% if user != null %}
        {% for e in subscription %}
        <div style="cursor: pointer; " onclick="window.location.href = '{{ path('user',{param:e.pseudo}) }}'">
            <div class="thumbnail thumbnail2">
                <img src="{{ asset('images/profile_pictures/'~e.profilepicture)}}">
            </div>
            <p>{{e.pseudo}}</p>
        </div>
        {% endfor %}
    {% endif %}

</div>

